@model FSHDB.Models.Heroinas

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Heroinas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreadoX.CreadoX1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreadoX.CreadoX1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origenes.Origen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origenes.Origen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
